@import url("https://fonts.googleapis.com/css?family=Roboto");

$bg-color: #303030;

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: Arial, sans-serif;
  background-color: $bg-color;
}

#root {
  height: 100%;
}
